:root {
  --header-container-background: #75757c;
  --header-container-box-shadow: 0px 0px 5px 0px #c7c7d4;
  --header-container-title-color: #fff;
  --header-disabled-link-color: #c2a3a3;
  --header-link-color: #fff;
}
