.location-add-container {
  position: relative;
  box-shadow: 0 0 10px 2px;
  background-color: #96b8b8;
  display: table;
  margin: auto;
  margin-top: 150px;
  width: 50vw;
  height: 60vh;
}

.location-add-header {
  height: 45px;
  background: #181819;
  color: white;
  text-align: center;
}

.ui.form .field {
  margin: 0 !important;
}

.location-add-address {
  height: 25px;
  width: 180px !important;
  margin-left: 10px !important;
  padding: 0 !important;
}

.location-add-coordinates {
  margin-left: 0px !important;
  border: 1px solid #d4f1f1;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-top: 25px;
  padding-bottom: 15px;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.location-add-label {
  margin-left: 20px;
}
.ui.form .field > label {
  font-size: 16px !important;
  margin-left: 20px !important;
}

.ui.form .field>.selection.dropdown {
  //font-size: 12px !important;
  margin-left: 30px !important;
  width: 400px !important;
  height: 20px !important;
}

.ui.form input {
  font-size: 16px !important;
  margin-left: 30px !important;
  width: 400px !important;
  height: 25px;
}
.field > :first-child {
  font-size: large;
  padding-left: 15px;
  padding-top: 30px;
}

.ui.form .inline.field > input {
  height: 25px;
  left: 300px;
  width: 280px !important;
  text-align: left;
  background-color: #d4f1f1;
}

.location-add-button {
  text-align: center;
  width: 15%;
  display: table-cell;
  vertical-align: bottom;
  bottom: 170px;
  position: fixed;
}
